.button{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(197, 2, 2);
        color: rgb(228, 227, 227);
    }

    &:active{
        transform: scale(0.9);
    }
}